@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@600&display=swap');
:root {
    --primary-color: #8ECAE6;
    --secondary-color: #FFB703; 
    --accent1-color: #023047;
    --accent2-color: #FB8500;

    --heading-font:'Montserrat', serif;
    --paragraph-font: 'Lato', serif;

    --nav-background-color:var(--secondary-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--primary-color);
    --nav-hover-background-color:var(--accent2-color);
}
body {font-family:var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    }

.hero {
        position: relative;
        
     }  
h1 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
   position: absolute;
   top: 50px;
   left: 300px;
}
article {
    position: absolute;
    top: 140px;
    right: 600px;
    background-color: #FFB703;
    
    
    
}

article img {
    position: absolute;
    top: 1px;
    right: -350px;
    float: right;
    opacity: 100%;
    
}


h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}

header{
    padding: 20px;
    background-color: var(--secondary-color)
}


.hero img
{
    display: block;
    width: 100%;
    height: auto;
}